.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
}

.login-left {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #E0E7FF; 
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(82, 109, 84, 0.18));
  background-color: color-overlay;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
}

.login-box {
  width: 100%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-soft);
  padding: 2rem;
  background-color: white;
}

.login-logo {
  max-width: 150px;
  height: 150px
}

.login-box h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.login-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-box form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.login-box form input:focus {
  border-color: var(--primary-color);
}



@media (max-width: 768px) {
  .login-left {
    display: none;
  }
}
